<div class="container">

  <hr>
  <div class="row">
    <div class="col-sm-4">
      <h3> Add Batch</h3>
    </div>
    <div class="col-sm-6"></div>


  </div>
  <div class="wrapper wrapper-content  animated fadeInRight">

    <div class="ibox-content">
      <form [formGroup]="exampleForm" id="form">
        <div class="form-group  row">
          <label class="col-sm-2 col-form-label">Institution</label>

          <div class="col-sm-4">
          <select class="form-control form-control" formControlName="institute">

            <option value="">Select Institution</option>
            <option *ngFor="let inst of InstitutionList" [value]="inst.name">{{inst.name}}</option>
          </select>
        </div>
          <label class="col-sm-2 col-form-label">Batch name</label>
          <div class="col-sm-4">
            <input type="text" placeholder="Batch Name" class="form-control" name="title"
              formControlName="name" #name></div>

        </div>

        <div class="form-group  row">
          <label class="col-sm-2 col-form-label">board</label>
          <div class="col-sm-4">
            <input type="text" placeholder="Input Board Name" class="form-control" name="board"
              formControlName="board" #board></div>
              <label class="col-sm-2 col-form-label">class</label>
              <div class="col-sm-4">
                <input type="text" placeholder="Input Class Name" class="form-control" name="class"
                  formControlName="class" #class>
              </div>
        </div>

        <div class="form-group  row">
          <label class="col-sm-2 col-form-label">Fee</label>
          <div class="col-sm-4">
            <input type="number" placeholder="Fee" class="form-control" name="fee"
              formControlName="fee" #fee> </div>
              <label class="col-sm-2 col-form-label">Subject</label>
              <div class="col-sm-4">
                <input type="text" placeholder="Input Subject Name" class="form-control" name="subject"
                  formControlName="subject" #subject>
              </div>
        </div>
        <div class="form-group  row">
          <label class="col-sm-2 col-form-label">Batch Start Time</label>
          <div class="col-sm-4">
            <input [ngxTimepicker]="picker1" placeholder="Batch Start Time" class="form-control" name="batch_start_time"
              formControlName="batch_start_time" #batch_start_time>
              <ngx-material-timepicker #picker1></ngx-material-timepicker></div>
              <label class="col-sm-2 col-form-label">Batch End Time</label>
              <div class="col-sm-4">
                <input [ngxTimepicker]="picker" placeholder="Batch End Time" class="form-control" name="batch_end_time"
                  formControlName="batch_end_time" >
                  <ngx-material-timepicker #picker></ngx-material-timepicker></div>
        </div>

        <div class="form-group row">
          <div class="col-sm-10 col-sm-offset-2">
            <button type="button" class="btn btn-primary" style="margin-right: 10px" (click)="AddBatch()">Save</button>
          </div>
        </div>
      </form>

    </div>
  </div>


  <h3>Batch List</h3>

<div class="table-responsive">
  <table class="table table-hover table-bordered">
    <thead>
    <tr>
      <th scope="">Institution</th>
      <th scope="">Name</th>
      <th scope="">Subject</th>
      <th scope="">Board</th>
      <th scope="">Class</th>
      <th scope="">Fee</th>
      <th scope="">Start Time</th>
      <th scope="">End Time</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let bat of batchList; let i = index">
      <td>
       {{bat?.institute}}
      </td>
      <td>
       {{bat?.name}}
      </td>
      <td>
       {{bat?.subject}}
      </td>
      <td>
       {{bat?.board}}
      </td>
      <td>{{bat?.class}} </td>
      <td>{{bat?.fee}} </td>
      <td>{{bat?.batch_start_time}} </td>
      <td>{{bat?.batch_end_time}} </td>

    </tr>
    </tbody>

  </table>
</div>
