<hr>
<div class="container">
<div class="row">
  <div class="col-sm-4">
    <h3>Add Institution</h3>
  </div>


</div>

<form [formGroup]="InstitutionForm" id="form">

  <mat-grid-list [cols]="onecol" rowHeight="100px" (window:resize)=onResize2($event)>
    <div fxLayout="row" fxLayoutAlign="center">
      <mat-grid-tile>
        <mat-form-field class="mat-form-field-infix bodytext">
          <mat-label class="bodytext">Institution Name</mat-label>
          <input   matInput formControlName="name" #name />
        </mat-form-field>
      </mat-grid-tile>

    </div>
  </mat-grid-list>

  <mat-grid-list [cols]="twocol" rowHeight="100px" (window:resize)="onResize1($event)" >
    <div fxLayout="row" fxLayoutAlign="center">
      <mat-grid-tile>
        <mat-form-field class="mat-form-field-infix bodytext">
          <mat-label class="bodytext">City</mat-label>
          <input matInput formControlName="city" />

        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field class="mat-form-field-infix bodytext">
          <mat-label class="bodytext">District</mat-label>
          <input matInput formControlName="district" #district />
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field class="mat-form-field-infix bodytext">
          <mat-label class="bodytext">State</mat-label>
          <input matInput formControlName="state" #state />
        </mat-form-field>
      </mat-grid-tile>
    </div>
  </mat-grid-list>
  <div class="form-group row">
    <div class="col-sm-10 col-sm-offset-2">
      <button type="button" class="btn btn-primary" style="margin-right: 10px" (click)="addInstitution()">Save</button>
    </div>
  </div>
  </form>

<div class="table-responsive">
  <table class="table table-hover table-bordered">
    <thead>
    <tr>
      <th scope="">Id</th>
      <th scope="">Institution Name</th>
      <th scope="">Institution City</th>
      <th scope="">Institution Dist</th>
      <th scope="">Institution State</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let bat of InstitutionList; let i = index">
      <td>{{bat?.id}} </td>
      <td>{{bat?.name}} </td>
      <td>{{bat?.city}} </td>
      <td>{{bat?.district}} </td>
      <td>{{bat?.state}} </td>

    </tr>
    </tbody>

  </table>

</div>
